# Dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment
.env
.env.local

# Testing
coverage
*.log

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
README.md

# Tests
tests/
jest.config.js
